<!--
 Copyright 2022 Shadow Robot Company Ltd.
 This program is free software: you can redistribute it and/or modify it
 under the terms of the GNU General Public License as published by the Free
 Software Foundation version 2 of the License.
 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 more details.
 You should have received a copy of the GNU General Public License along
 with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<launch>
  <arg name="rviz" default="true"/>
  <arg name="port" default="/dev/ttyACM0"/>

  <include file="$(find optoforce)/launch/optoforce.launch">
    <arg name="port" value="$(arg port)"/>
  </include>

  <include if="$(arg rviz)" file="$(find optoforce)/launch/rviz.launch"/>

  <!-- Static transforms form Optoforce sensor to finger tip -->
  <node name="optoforce_0_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 1.57 rh_thtip optoforce_0 100" />
  <node name="optoforce_1_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 1.57 rh_fftip optoforce_1 100" />
  <node name="optoforce_2_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 1.57 rh_mftip optoforce_2 100" />
  <node name="optoforce_3_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 1.57 rh_rftip optoforce_3 100" />
</launch>

