<launch>
  <include file="$(find sr_logging_common)/launch/sr_rosbag_log.launch"/>
  <include file="$(find sr_robot_launch)/launch/sr_bimanual.launch">
    <arg name="eth_port" value="eth1_eth2"/>
    <arg name="rh_serial" value="1594"/>
    <arg name="lh_serial" value="4138"/>

    <arg name="robot_description" value="$(find sr_description)/robots/bimanual_shadowhand_lite_right_btsp.urdf.xacro" />
    <arg name="robot_config_file" value="$(find sr_multi_moveit_config)/config/robot_configs/bimanual_sh_lite_right_btsp.yaml"/>

    <arg name="rh_mapping_path" value="$(find sr_edc_launch)/mappings/default_mappings/rh_lite_v1.yaml"/>
    <arg name="lh_mapping_path" value="$(find sr_edc_launch)/mappings/default_mappings/rh_lite_v1.yaml"/>

    <arg name="use_moveit" value="true"/>
    <arg name="sim" value="false"/>
  </include>
</launch>
