<!--
 Copyright 2022 Shadow Robot Company Ltd.
 This program is free software: you can redistribute it and/or modify it
 under the terms of the GNU General Public License as published by the Free
 Software Foundation version 2 of the License.
 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 more details.
 You should have received a copy of the GNU General Public License along
 with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<launch>
  <include file="$(find sr_logging_common)/launch/sr_rosbag_log.launch"/>
  <include file="$(find sr_robot_launch)/launch/sr_bimanual.launch">
    <arg name="eth_port" value="eth1_eth2"/>
    <arg name="rh_serial" value="1290"/>
    <arg name="lh_serial" value="1338"/>

    <arg name="robot_description" value="$(find sr_description)/robots/bimanual_shadowhand_motor.urdf.xacro" />
    <arg name="robot_config_file" value="$(find sr_multi_moveit_config)/config/robot_configs/bimanual_sh.yaml"/>

    <arg name="rh_mapping_path" value="$(find sr_edc_launch)/mappings/default_mappings/rh_E_v3.yaml"/>
    <arg name="lh_mapping_path" value="$(find sr_edc_launch)/mappings/default_mappings/lh_E_v3.yaml"/>

    <arg name="use_moveit" value="true"/>
    <arg name="sim" value="false"/>
  </include>
</launch>
