<launch>
  <group ns="lh">
    <remap from="/diagnostics" to="/lh/diagnostics" />
    <remap from="/diagnostics_agg" to="/lh/diagnostics_agg" />
    <include file="$(find sr_edc_launch)/sr_edc.launch" >
      <arg name="config_dir" value="lh/" />
      <arg name="eth_port" value="eth2" />
      <arg name="set_description" value="1" />
      <arg name="hand_description" value="$(find sr_description)/robots/shadowhand_left_motor.urdf.xacro" />
      <arg name="tf_prefix" value="lh" />
    </include>
  </group>
</launch>
