<launch>
  <arg name="eth_port" default="enp1s0" />
  <include file="$(find sr_ethercat_hand_config)/launch/sr_rosbag_log.launch">
    <arg name="log_bag_prefix" value="sr_rhand"/>
  </include>
  <include file="$(find sr_robot_launch)/launch/srhand.launch">
    <arg name="eth_port" value="$(arg eth_port)" />
    <arg name="hand_serial" value="1818" />
    <arg name="hand_id" value="rh" />

    <arg name="robot_description" value="$(find sr_description)/robots/shadowhand_motor_btsp.urdf.xacro" />
    <arg name="mapping_path" value="$(find sr_edc_launch)/mappings/default_mappings/rh_E_v3.yaml"/>
     
    <arg name="use_moveit" value="true"/>
    <arg name="sim" value="false"/>
  </include>
</launch>
