<launch>
  <include file="$(find sr_edc_launch)/sr_edc.launch" >
    <arg name="config_dir" value="" />
    <arg name="eth_port" value="eth1" />

    <arg name="hand_id" value="rh" />
    <arg name="robot_description" value="$(find sr_description)/robots/shadowhand_motor.urdf.xacro" />
  </include>
</launch>
