<launch>
  <include file="$(find sr_edc_launch)/sr_edc.launch" >
    <arg name="eth_port" value="eth0" />
    <arg name="robot_description" value="$(find sr_description)/robots/shadowhand_extra_lite.urdf.xacro"/>
    <arg name="pwm_control" value="true"/>
    <arg name="hand_serial" value="1066"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
