
<launch>
  <arg name="sim" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="scene" default="true"/>

  <!-- Set initial_z value dependant on scene-->
  <arg name="initial_z" default="0.687" if="$(arg scene)"/>
  <arg name="initial_z" default="0.1" unless="$(arg scene)"/>
  
  <include file="$(find sr_robot_launch)/launch/sr_right_ur10arm_hand.launch">
    <arg name="eth_port" value="enp4s0"/>
    <arg name="hand_serial" value="1802" />
    <arg name="scene" value="$(arg scene)"/>
    <arg name="robot_description" value="$(find sr_multi_description)/urdf/right_srhand_ur10.urdf.xacro" />
    <arg name="use_moveit" value="true"/>
    <arg name="initial_z" value="$(arg initial_z)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="mapping_path" value="$(find sr_edc_launch)/mappings/default_mappings/rh_E_v3.yaml"/>
    <arg name="sim" value="$(arg sim)"/>
  </include>
</launch>