<launch>
  <arg name="split_logs_by_duration" default="True"/>
  <arg name="log_split_duration" default="10m"/>

  <arg name="split_logs_by_size" default="false"/>
  <arg name="log_split_size" default="1024"/>

  <arg name="log_max_splits" default="6"/>
  <arg name="log_directory" default="."/>
  <arg name="log_bag_prefix" default="sr_log"/>

  <arg name="log_location" value="$(arg log_directory)/$(arg log_bag_prefix)"/>

  <arg name="clear_old_sessions" default="true"/>

  <arg name="log_topics" default='-e ".*(controller|debug_etherCAT_data).*" /joint_states /tf /tf_static /rosout /diagnostics /mechanism_statistics'/>

  <arg name="save_params" default="true"/>
  <arg name="diff_ws" default="true"/>

  <node pkg="sr_ethercat_hand_config" type="ws_diff.py" name="ws_diff" output="screen">
    <param name="log_directory" value="$(arg log_directory)"/>
  </node>

</launch>
