<launch>
  <include file="$(find cyberglove_trajectory)/launch/cyberglove.launch">
    <arg name="serial_port" value="/dev/ttyUSB0" />
    <arg name="joint_prefix" value="rh_" />
    <arg name="version" value="1" />
    <arg name="trajectory_tx_delay" value="0.040" />
    <arg name="trajectory_delay" value="0.002"/>
  </include>
</launch>
